body{
    margin: 0%;
    background-color: #F4EF88;
}
header{
    text-align: center;
    color: black;
    padding: 15px;
    background-color: #F4EF88;
}
.local{
    text-align: center;
}
ul{
    display: flex;
    padding: 5px;
    background-color: #F4EF88;
    margin: 0%;
    list-style: none;
    justify-content: space-around;
}
.banner{
    width: 100%;
    margin-bottom: 10px;
}
.botao {
    display: inline-block;
    padding: 5% 15% 5% 15%;
    text-decoration: none;
    background-image: url(https://dynamic-media-cdn.tripadvisor.com/media/photo-o/13/09/ff/a8/busto-de-tamandare-e.jpg?w=1200&h=1200&s=1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:bottom;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    top: 70px;
    left: 280px;
}
.botao:hover{
    transform: scale(1.1);
}

.botao1 {
    display: inline-block;
    padding: 5% 15% 5% 15%;
    font-size: 25px;
    text-decoration: none;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/4/46/Praia_ponta_do_seixas_farol_de_cabo_branco_joao_pessoa_paraiba.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    border: 1px solid white;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    top: 70px;
    left: 340px;
    opacity: 80%;
}
.botao1:hover{
transform: scale(1.1);
}